:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #885cf6;
    --orange: #f88bce;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input,
button {
    text-decoration: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    font-weight: 400;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--pink);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
    background-image: linear-gradient(to left, var(--purple), var(--pink), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.1s;
}

#new-task-submit:hover {
    opacity: .6;
    font-weight: 900;
    font-size: 1.9rem;
}

#new-task-submit:active {
    opacity: .6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1 rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 2rem;
}

.task-list h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: .4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .action {
    display: flex;
    margin: 0 1rem;
}

.task .action button {
    cursor: pointer;
    margin: 0 0.5rem;
    /* font-size: 1.2rem; */
    font-weight: 700;
    text-transform: uppercase;
    transition: .4s;
}

.task .action button:hover {
    opacity: .8;
}

.task .action button:active {
    opacity: .6;
}

.task .action .edit {
    font-size: 1.5rem;
    background-image: linear-gradient(to right, var(--purple), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .action .delete {
    font-size: 1.3rem;
    color: red;
}
